bin
!bin/.keep

# WHY: poktrolld CLI should use the same keys as the node that runs inside the cluster to
# allow commands such as `poktrolld tx stake` to work.
localnet/.poktrolld/*
!localnet/.poktrolld/keyring-test/
!localnet/.poktrolld/keyring-test/*
